/* Enter your custom styles here */
.textWarning {
	color: #ff0000;
	font-weight: 700;
}
.toolbarNoFooterLine {
    border-bottom: 0 !important;
}
.iconPadded {
    padding: 0.1rem;
}
.removeMinHeight {
    min-height: auto !important;
}